In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

5.	Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first 6 rows.

In [3]:
gdp_df = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868)
result = gdp_df.head(6)
print(result)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

6. Repeat for the internet use dataset. Call this DataFrame `internet_df`. Take a look at the first six rows.

In [4]:
internet_df = pd.read_csv("../Data/internet_use.csv", nrows=4495)
result = internet_df.head(6)
print(result)

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

7. Look at the shape of each DataFrame - how many rows? How many columns?

In [5]:
print(pd.DataFrame.info(gdp_df))
print(pd.DataFrame.info(internet_df))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6868 entries, 0 to 6867
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6868 non-null   object
 1   Year             6868 non-null   int64
 2   Value            6868 non-null   float64
 3   Value Footnotes  1 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 214.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4495 entries, 0 to 4494
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  4495 non-null   object
 1   Year             4495 non-null   int64
 2   Value            4495 non-null   float64
 3   Value Footnotes  948 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 140.6+ KB
None

8. Take a look at the datatypes for the columns in each DataFrame.

In [6]:
print(gdp_df.dtypes)
print(internet_df.dtypes)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object
Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

9. Take a look at the last 10 rows of each DataFrame in turn.

In [7]:
print(gdp_df.tail(10))
print(internet_df.tail(10))

     Country or Area  Year        Value  Value Footnotes
6858        Zimbabwe  1999  3600.849291              NaN
6859        Zimbabwe  1998  3653.920016              NaN
6860        Zimbabwe  1997  3580.048793              NaN
6861        Zimbabwe  1996  3520.430146              NaN
6862        Zimbabwe  1995  3226.413930              NaN
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN
6867        Zimbabwe  1990  3324.348171              NaN
     Country or Area  Year     Value  Value Footnotes
4485        Zimbabwe  2002  3.994356              NaN
4486        Zimbabwe  2001  0.799846              NaN
4487        Zimbabwe  2000  0.401434              NaN
4488        Zimbabwe  1999  0.161676              NaN
4489        Zimbabwe  1998  0.081648              NaN
4490        Zimbabwe  1997  0.033080              NaN
4491        Zimbabwe  1996  0.016790              NaN
4492        Zimbabwe  1995  0.007684              NaN
4493        Zimbabwe  1994  0.001739              NaN
4494        Zimbabwe  1990  0.000000              NaN

10. Drop the value footnotes column from both DataFrames. Check that this worked as expected.

In [8]:
gdp_df.drop(["Value Footnotes"], axis=1, inplace=True)
print(gdp_df)

     Country or Area  Year        Value
0        Afghanistan  2019  2065.036398
1        Afghanistan  2018  2033.779002
2        Afghanistan  2017  2058.383832
3        Afghanistan  2016  2057.062164
4        Afghanistan  2015  2068.265904
...              ...   ...          ...
6863        Zimbabwe  1994  3263.934978
6864        Zimbabwe  1993  3033.504852
6865        Zimbabwe  1992  3054.889178
6866        Zimbabwe  1991  3426.598094
6867        Zimbabwe  1990  3324.348171

[6868 rows x 3 columns]

In [9]:
internet_df.drop(["Value Footnotes"], axis=1, inplace=True)
print(internet_df)

     Country or Area  Year     Value
0        Afghanistan  2014  6.390000
1        Afghanistan  2013  5.900000
2        Afghanistan  2012  5.454545
3        Afghanistan  2011  5.000000
4        Afghanistan  2010  4.000000
...              ...   ...       ...
4490        Zimbabwe  1997  0.033080
4491        Zimbabwe  1996  0.016790
4492        Zimbabwe  1995  0.007684
4493        Zimbabwe  1994  0.001739
4494        Zimbabwe  1990  0.000000

[4495 rows x 3 columns]

11. Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

In [10]:
gdp_df.rename(columns = {"Country or Area":"Country","Value":"GDP_Per_Capita"}, inplace=True)
print(gdp_df)

          Country  Year  GDP_Per_Capita
0     Afghanistan  2019     2065.036398
1     Afghanistan  2018     2033.779002
2     Afghanistan  2017     2058.383832
3     Afghanistan  2016     2057.062164
4     Afghanistan  2015     2068.265904
...           ...   ...             ...
6863     Zimbabwe  1994     3263.934978
6864     Zimbabwe  1993     3033.504852
6865     Zimbabwe  1992     3054.889178
6866     Zimbabwe  1991     3426.598094
6867     Zimbabwe  1990     3324.348171

[6868 rows x 3 columns]

12. Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

In [11]:
internet_df.rename(columns = {"Country or Area":"Country","Value":"Internet_Users_Pct"}, inplace=True)
print(internet_df)

          Country  Year  Internet_Users_Pct
0     Afghanistan  2014            6.390000
1     Afghanistan  2013            5.900000
2     Afghanistan  2012            5.454545
3     Afghanistan  2011            5.000000
4     Afghanistan  2010            4.000000
...           ...   ...                 ...
4490     Zimbabwe  1997            0.033080
4491     Zimbabwe  1996            0.016790
4492     Zimbabwe  1995            0.007684
4493     Zimbabwe  1994            0.001739
4494     Zimbabwe  1990            0.000000

[4495 rows x 3 columns]

13. Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use.

In [36]:
gdp_and_internet_use = pd.merge(gdp_df, internet_df, on=["Country", "Year"], how="left")
print(gdp_and_internet_use)

          Country  Year  GDP_Per_Capita  Internet_Users_Pct
0     Afghanistan  2019     2065.036398                 NaN
1     Afghanistan  2018     2033.779002                 NaN
2     Afghanistan  2017     2058.383832                 NaN
3     Afghanistan  2016     2057.062164                 NaN
4     Afghanistan  2015     2068.265904                 NaN
...           ...   ...             ...                 ...
6863     Zimbabwe  1994     3263.934978            0.001739
6864     Zimbabwe  1993     3033.504852                 NaN
6865     Zimbabwe  1992     3054.889178                 NaN
6866     Zimbabwe  1991     3426.598094                 NaN
6867     Zimbabwe  1990     3324.348171            0.000000

[6868 rows x 4 columns]

14. Look at the first five rows of your new DataFrame to confirm it merged correctly.

In [38]:
print(gdp_and_internet_use.head(5))

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
0  Afghanistan  2019     2065.036398                 NaN
1  Afghanistan  2018     2033.779002                 NaN
2  Afghanistan  2017     2058.383832                 NaN
3  Afghanistan  2016     2057.062164                 NaN
4  Afghanistan  2015     2068.265904                 NaN

15. Look at the last five rows to make sure the data is clean and as expected.

In [37]:
print(gdp_and_internet_use.tail(5))

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
6863  Zimbabwe  1994     3263.934978            0.001739
6864  Zimbabwe  1993     3033.504852                 NaN
6865  Zimbabwe  1992     3054.889178                 NaN
6866  Zimbabwe  1991     3426.598094                 NaN
6867  Zimbabwe  1990     3324.348171            0.000000

16. Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly.

In [39]:
gdp_and_internet_use[(gdp_and_internet_use["Year"] == 2004) | (gdp_and_internet_use["Year"] == 2009) | (gdp_and_internet_use["Year"] == 2014)]

          Country  Year  GDP_Per_Capita  Internet_Users_Pct
5     Afghanistan  2014     2102.385234            6.390000
10    Afghanistan  2009     1758.904043            3.550000
15    Afghanistan  2004     1200.278256            0.105809
23        Albania  2014    11623.866679           60.100000
28        Albania  2009    10346.864199           41.200000
...           ...   ...             ...                 ...
6818       Zambia  2009     2917.516220            6.310000
6823       Zambia  2004     2261.766537            2.013550
6843     Zimbabwe  2014     2955.240287           19.890000
6848     Zimbabwe  2009     1925.364381           11.360000
6853     Zimbabwe  2004     2480.859342            6.564045

[708 rows x 4 columns]